NameVirtualHost  *:<%= port %>
<VirtualHost *:<%= port %>>
    ServerName <%= name %>
    DocumentRoot <%= docroot %>
    #SuexecUserGroup gitolite gitolite

    RewriteEngine on
    RewriteRule ^/$  /index.cgi [L]

    <Directory <%= docroot %>>
        Options ExecCGI +FollowSymLinks +SymLinksIfOwnerMatch
        AllowOverride All
        order allow,deny
        Allow from all
        AddHandler cgi-script cgi
        DirectoryIndex gitweb.cgi
        AuthType Basic
        AuthName "Gitweb"
        AuthUserFile /var/lib/gitolite/.htpasswd
        #Require valid-user
    </Directory>

    ErrorLog /var/log/apache2/<%= name %>_error.log
    LogLevel warn
    CustomLog /var/log/apache2/<%= name %>_access.log combined
    ServerSignature Off
</VirtualHost>

