# path to git projects (<project>.git)
$projectroot = "<%= project_root %>";

# directory to use for temp files
$git_temp = "/tmp";

# target of the home link on top of all pages
#$home_link = $my_uri || "/";

# html text to include at home page
$home_text = "indextext.html";

# file with project list; by default, simply scan the projectroot dir.
$projects_list = $projectroot/projects.list;

# stylesheet to use
$stylesheet = ("/git/static/gitweb.css");

# logo to use
$logo = "/git/static/git-logo.png";

# the 'favicon'
$favicon = "/favicon.ico";

# enable pathinfo style urls
$feature{'pathinfo'}{'default'} = [1];

# javascript code for gitweb
$javascript = "/git/static/gitweb.js";

# --------------------------------------------
# We're now on v3

# finally the user name
$ENV{GL_USER} = $cgi->remote_user || "gitweb";

our $export_ok = "git-daemon-export-ok";
$strict_export = true;

